{% extends 'navigation.html'%}
{% load static %}
{% block body %}


    <div class="image">
        <center><img src="{% static 'images/about2.png' %}" style="height:60%; width:50%;" class=" mt-4" alt=""></center>
    </div><br><br>

    <div class="container-fluid">
        <h2 class="font-weight-bold">All About Notes Sharing</h2>
        <b><h5 class="font-weight-bold"> <p>“Online Note Sharing” is the project used for sharing notes using the website. Notes that the user wants for a particular subject can be found in the website.<br> This project is written in Python Django and sqlite. Firstly, the user need to sign up and then, they can log in to the system.</p></h5></b>

    </div>

{% endblock %}
