{% extends 'navigation.html' %}
{% load static %}
{% block body %}
{% ifequal error "no" %}
     <script>
	   alert('Your Message has been Send Successfully');
	   window.location=('{% url 'contact' %}');
     </script>
{% endifequal %}
{% ifequal error "yes" %}
     <script>
	    alert('Something went wrong, Try Again');
     </script>
{% endifequal %}
<h1 class="text-center mt-1 py-3 font-weight-bold display-4" style="background-color:orange;">Contact Us</h1>
<div class="container-fluid">
<div class="row">
  <div class="col-md-6">
        <img src="{% static 'images/contact1.png' %}" style="height:100%; width:70%;" class="bg-success img-thumbnail shadow-lg ml-4" alt="">
  </div>
  <div class="col-md-4">
    <form method="post">
        {% csrf_token %}
        <input type="text" placeholder="full name" name="fullname" class="form-control py-4 ">
        <input type="email" placeholder="your email" name="email" class="form-control mt-2 py-4">
        <input type="number" placeholder="your contact number" name="mobile" class="form-control mt-2 py-4">
        <input type="text" placeholder="Subject" name="subject" class="form-control mt-2 py-4">
        <textarea name="message" id="" cols="30" rows="8" class="form-control mt-2 py-4" placeholder="Send Message..."></textarea>
        <center><input type="submit" class=" text-dark btn btn-outline-dark shadow-lg mt-2 font-weight-bold" value="send now"></center>
    </form>
  </div>
</div>
</div>
{% endblock %}
