{% extends 'navigation.html'%}
{% load static %}
{% block body %}

{% ifequal error "no" %}
<script>
	alert('Logged In Successfully...');
	window.location=('{% url 'admin_home' %}')
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
	alert('Invalid Login Credentials, Try Again');
</script>

{% endifequal %}
<h1 class="heading mt-1 text-center pb-3 font-weight-bold display-4" style="background-color:orange;">Admin Login</h1>
<div class="container-fluid">
<div class="row">
	<div class="col-md-6">
    <div class="image">
        <img src="{% static 'images/Kids Studying from Home-rafiki.png' %}" style="height:80%;width:70%" class="ml-5 bg-warning img-thumbnail shadow-lg" alt="">
    </div>
		</div>
		<div class="col-md-4"><br><br><br><br>
    <form method="post" class="mt-4">
        {% csrf_token %}
		<input type="text" placeholder="Enter Username" name="uname" class="form-control py-4">
        <input type="password" placeholder="Enter Password" name="pwd" class="form-control py-4 mt-2">
		<center><input type="submit" class="btn btn-dark font-weight-bold text-dark mt-3" value="LOGIN"></center>
    </form>
		</div>
</div>
</div>

{% endblock %}
